<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Teacher Details View</h4>
        </div>
        <div>
          <button (click)="addNewTeacher()">
            Create New Teacher
          </button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Teacher No
                </th>
                <th>
                  Teacher Name
                </th>
                <th>
                  Action
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let teacher of teachers; let i = index">
                  <td>
                    {{ (currentPage - 1) * 10 + i + 1 }}
                  </td>
                  <td>
                    {{ teacher.name }}
                  </td>
                  <td>
                    <button>Delete</button>
                    <button>Edit</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <pagination
      [totalItems]="totalItems"
      [(ngModel)]="currentPage"
      (pageChanged)="pageChanged($event)"
    ></pagination>
  </div>
</div>

<div *ngIf="isShowCreate">
  <app-teacher-create
    (closeNewTeacherClicked)="closeNewTeacherEventClicked($event)"
    (addNewTeacherSaved)="addNewTeacherEventSaved($event)"
  ></app-teacher-create>
</div>
