<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Add New Sub Category</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Main Category</label>
                  <select class="form-control">
                    <option value="volvo">Quran</option>
                    <option value="saab">Hadees</option>
                    <option value="mercedes">Fiqh</option>
                    <option value="audi">Seerah</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="email">Sub Category Name</label>
                  <input
                    id="email"
                    type="email"
                    class="form-control"
                    placeholder="Sub Category Name"
                  />
                </div>
              </div>
            </div>
            <button>
              Save
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
