<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Add New Teacher Details</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="teacherForm">
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="email">Teacher Name</label>
                  <input
                    id="name"
                    type="name"
                    class="form-control"
                    placeholder="Teacher Name"
                    formControlName="name"
                  />
                </div>
                <div
                  [hidden]="
                    teacherForm.get('name').valid ||
                    (teacherForm.get('name').pristine && !teacherFormSubmitted)
                  "
                >
                  <small
                    class="bbk-field__message"
                    *ngIf="teacherForm.get('name').errors"
                  >
                    <i class="fa fa-info-circle u-color-danger"></i>Teacher name
                    is required
                  </small>
                </div>
              </div>
            </div>
            <button (click)="saveTeacher()">
              Save
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
