<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Student Details View</h4>
        </div>
        <div>
          <button (click)="addNewStudent()">
            Create New Student
          </button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Student No
                </th>
                <th>
                  Student Name
                </th>
                <th>
                  Grade
                </th>
                <th>
                  Action
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let student of students; let i = index">
                  <td>
                    {{ (currentPage - 1) * 10 + i + 1 }}
                  </td>
                  <td>
                    {{ student.name }}
                  </td>
                  <td>
                    {{
                      student.studentGrades == 1
                        ? "Grade 1"
                        : student.studentGrades == 2
                        ? "Grade 2"
                        : student.studentGrades == 3
                        ? "Grade 3"
                        : student.studentGrades == 4
                        ? "Grade 4"
                        : student.studentGrades == 5
                        ? "Grade 5"
                        : student.studentGrades == 6
                        ? "Grade 6"
                        : "Grade 7"
                    }}
                  </td>
                  <td>
                    <button (click)="deleteStudent(student.storeUserId)" >Delete</button>
                    <button (click)="editStudent(student.storeUserId)">
                      Edit
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <pagination
      [totalItems]="totalItems"
      [(ngModel)]="currentPage"
      (pageChanged)="pageChanged($event)"
    ></pagination>
  </div>
</div>

<div *ngIf="isShowCreate">
  <app-student-create
    (closeNewStudentClicked)="closeNewStudentEventClicked($event)"
    (addNewStudentSaved)="addNewStudentEventSaved($event)"
    [studentId]="editStudentId"
  ></app-student-create>
</div>
