<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Student Details View</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Student Id
                </th>
                <th>
                  Student Name
                </th>
                <th>
                  Grade
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    001
                  </td>
                  <td>
                    Amjad Hussain
                  </td>
                  <td>
                    Grade 1
                  </td>
                </tr>
                <tr>
                  <td>
                    002
                  </td>
                  <td>
                    Thanzeel Jalaldeen
                  </td>
                  <td>
                    Grade 2
                  </td>
                </tr>
                <tr>
                  <td>
                    003
                  </td>
                  <td>
                    Akmal Noufer
                  </td>
                  <td>
                    Grade 3
                  </td>
                </tr>
                <tr>
                  <td>
                    004
                  </td>
                  <td>
                    Usama Jumaloon
                  </td>
                  <td>
                    Grade 4
                  </td>
                </tr>
                <tr>
                  <td>
                    005
                  </td>
                  <td>
                    Fazlan Fairooz
                  </td>
                  <td>
                    Grade 5
                  </td>
                </tr>
                <tr>
                  <td>
                    006
                  </td>
                  <td>
                    Irfan Faiz
                  </td>
                  <td>
                    Grade 6
                  </td>
                </tr>
                <tr>
                  <td>
                    007
                  </td>
                  <td>
                    Umair Anhar
                  </td>
                  <td>
                    Grade 7
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
