<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Add New Student Details</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="studentForm">
            <div class="row">
              <button (click)="closeNewStudent(event)">
                Close
              </button>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="email">Student Name</label>
                  <input
                    id="name"
                    type="name"
                    class="form-control"
                    placeholder="Student Name"
                    formControlName="name"
                  />
                </div>
                <div
                  [hidden]="
                    studentForm.get('name').valid ||
                    (studentForm.get('name').pristine && !studentFormSubmitted)
                  "
                >
                  <small
                    class="bbk-field__message"
                    *ngIf="studentForm.get('name').errors"
                  >
                    <i class="fa fa-info-circle u-color-danger"></i>Student name
                    is required
                  </small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Grade</label>
                  <select class="form-control" formControlName="studentGrades">
                    <option
                      *ngFor="let grade of studentGrades"
                      [value]="grade.value"
                      >{{ grade.text }}</option
                    >
                  </select>
                </div>
              </div>
            </div>
            <button (click)="saveStudent(event)">
              Save
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
