<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Add New Student Details</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="email">Student Name</label>
                  <input
                    id="email"
                    type="email"
                    class="form-control"
                    placeholder="Student Name"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Grade</label>
                  <select class="form-control">
                    <option value="volvo">Grade 1</option>
                    <option value="saab">Grade 2</option>
                    <option value="mercedes">Grade 3</option>
                    <option value="audi">Grade 4</option>
                    <option value="saab1">Grade 5</option>
                    <option value="mercedes1">Grade 6</option>
                    <option value="audi1">Grade 7</option>
                  </select>
                </div>
              </div>
            </div>
            <button>
              Save
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
