<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Main Category Details View</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Category Id
                </th>
                <th>
                  Main Category Name
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    001
                  </td>
                  <td>
                    Quran
                  </td>
                </tr>
                <tr>
                  <td>
                    002
                  </td>
                  <td>
                    Fiqh
                  </td>
                </tr>
                <tr>
                  <td>
                    003
                  </td>
                  <td>
                    Hadees
                  </td>
                </tr>
                <tr>
                  <td>
                    004
                  </td>
                  <td>
                    Seerah
                  </td>
                </tr>
                <tr>
                  <td>
                    005
                  </td>
                  <td>
                    Thajweed
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
