<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Book Details View</h4>
        </div>
        <button (click)="addNewBook(event)">
          New Book
        </button>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Book Id
                </th>
                <th>
                  Book Name
                </th>
                <th>
                  General Category
                </th>
                <th>
                  Sub Category
                </th>
                <th class="text-right">
                  Author
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    000-001
                  </td>
                  <td>
                    Riyalus Saliheen
                  </td>
                  <td>
                    Hadees
                  </td>
                  <td>
                    Saheeh Hadees
                  </td>
                  <td class="text-right">
                    Maulana Sheikh Zakariyyah
                  </td>
                </tr>
                <tr>
                  <td>
                    000-001
                  </td>
                  <td>
                    Riyalus Saliheen
                  </td>
                  <td>
                    Hadees
                  </td>
                  <td>
                    Saheeh Hadees
                  </td>
                  <td class="text-right">
                    Maulana Sheikh Zakariyyah
                  </td>
                </tr>
                <tr>
                  <td>
                    000-001
                  </td>
                  <td>
                    Riyalus Saliheen
                  </td>
                  <td>
                    Hadees
                  </td>
                  <td>
                    Saheeh Hadees
                  </td>
                  <td class="text-right">
                    Maulana Sheikh Zakariyyah
                  </td>
                </tr>
                <tr>
                  <td>
                    000-001
                  </td>
                  <td>
                    Riyalus Saliheen
                  </td>
                  <td>
                    Hadees
                  </td>
                  <td>
                    Saheeh Hadees
                  </td>
                  <td class="text-right">
                    Maulana Sheikh Zakariyyah
                  </td>
                </tr>
                <tr>
                  <td>
                    000-001
                  </td>
                  <td>
                    Riyalus Saliheen
                  </td>
                  <td>
                    Hadees
                  </td>
                  <td>
                    Saheeh Hadees
                  </td>
                  <td class="text-right">
                    Maulana Sheikh Zakariyyah
                  </td>
                </tr>
                <tr>
                  <td>
                    000-001
                  </td>
                  <td>
                    Riyalus Saliheen
                  </td>
                  <td>
                    Hadees
                  </td>
                  <td>
                    Saheeh Hadees
                  </td>
                  <td class="text-right">
                    Maulana Sheikh Zakariyyah
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
