<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Add New Main Category</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="email">Main Category Name</label>
                  <input
                    id="email"
                    type="email"
                    class="form-control"
                    placeholder="Main Category Name"
                  />
                </div>
              </div>
            </div>
            <button>
              Save
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
