<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Add New Book Details</h5>
        </div>
        <button (click)="closeNewBook(event)">
          Close
        </button>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label>Book Id</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Book Id"
                    value="000-0002"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>General Category</label>
                  <select class="form-control">
                    <option value="volvo">Quran</option>
                    <option value="saab">Hadees</option>
                    <option value="mercedes">Fiqh</option>
                    <option value="audi">Seerah</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 px-1">
                <button [routerLink]="['/muac/settings/maincategory/view']">
                  +
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Sub Category</label>
                  <select class="form-control">
                    <option value="volvo">Quran</option>
                    <option value="saab">Hadees</option>
                    <option value="mercedes">Fiqh</option>
                    <option value="audi">Seerah</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 px-1">
                <button [routerLink]="['/muac/settings/subcategory/view']">
                  +
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="email">Book Name</label>
                  <input
                    id="email"
                    type="email"
                    class="form-control"
                    placeholder="Book Name"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Author</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Author"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label>Year</label>
                  <input type="text" class="form-control" placeholder="Year" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                      />
                      Multiple Volumes
                      <span class="form-check-sign"></span>
                    </label>
                  </div>

                  <label>Volumes</label>
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Volumes"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
